* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #242424;
}

#particles-js, #particles-js-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

html, body, .container-fluid {
  position: relative;
  height: 100%;
}

.project {
  height: 562px;
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.project .swiper-container {
  width: 100%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.project .swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2);
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.project .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: -14px 4px;
}

.project .swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  background: #059ed1;
}

header {
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 16px;
  background-color: #22262b;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 16px rgba(0, 0, 0, 0.75);
}

header .navbar-brand {
  padding: 15px 4px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  letter-spacing: .001em;
  line-height: .7em;
  text-transform: uppercase;
  color: #059ed1;
}

header .navbar-brand:hover {
  color: black;
}

header .nav-item > a {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  letter-spacing: .16em;
  line-height: .1em;
  text-transform: uppercase;
  color: #fff;
}

header .nav-item > a .nav-icon {
  font-size: 30px;
  color: #059ed1;
}

header .nav-item > a:hover {
  color: black;
}

@media (min-width: 1200px) {
  header .container {
    max-width: 1440px;
  }
}

.preview {
  position: relative;
  height: 100vh;
  margin-top: 45px;
  padding: 50px 40px;
  background-color: #242424;
}

.preview .my-foto > img {
  width: 300px;
  border-radius: 5%;
}

.preview .pre-text h2 {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 34px;
  letter-spacing: .009em;
  line-height: 1.5em;
  text-transform: uppercase;
  color: #fff;
  text-transform: none;
}

.preview .pre-text .preview_express {
  font-weight: 700;
  color: #059ed1;
}

.preview .pre-text .download-button {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  letter-spacing: .16em;
  line-height: .1em;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 40px;
  width: 100%;
  font-weight: normal;
  letter-spacing: normal;
  border: 1px solid #333;
  border-radius: 0;
  color: #fff;
  background-color: rgba(69, 69, 69, 0.8);
  text-decoration: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.preview .pre-text .download-button:hover {
  background-color: rgba(186, 186, 186, 0.8);
  color: #000;
}

@media (min-width: 1200px) {
  .preview .container {
    max-width: 1440px;
  }
}

.project {
  height: 100vh;
  background-color: #242424;
  border-top: 2px solid #059ed1;
  border-bottom: 2px solid #059ed1;
}

.project .container-fluid h1 {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 34px;
  letter-spacing: .009em;
  line-height: 1.5em;
  text-transform: uppercase;
  color: #fff;
  font-size: 50px;
  letter-spacing: 10px;
  color: rgba(255, 255, 255, 0.4);
  font-weight: 700;
}

.project .container-fluid .potrfol_img {
  width: 100%;
  height: 100%;
}

.project .container-fluid .potrfol_img img {
  width: 100%;
  height: 100%;
}

.contact {
  position: relative;
  height: 100vh;
  padding-top: 70px;
  padding-bottom: 200px;
  background-color: #242424;
  border-top: 2px solid #059ed1;
}

.contact h1 {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 34px;
  letter-spacing: .009em;
  line-height: 1.5em;
  text-transform: uppercase;
  color: #fff;
  font-size: 50px;
  letter-spacing: 10px;
  color: rgba(255, 255, 255, 0.4);
  font-weight: 700;
}

.contact form {
  margin-left: 10%;
  z-index: 500;
}

.contact .col-form-label {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  letter-spacing: 0.1em;
  color: #fff;
}

.contact input, .contact textarea {
  max-width: 30%;
  opacity: 0.5;
}

.contact .btn-primary {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  letter-spacing: 0.1em;
  color: #fff;
  background-color: #059ed1;
}

.contact footer {
  height: 200px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 80px 30px 50px 30px;
  z-index: 5;
}

.contact footer .contact-details p {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  letter-spacing: 0.1em;
  color: #fff;
  color: #fff;
}

.contact footer .contact-details p .foot-express {
  display: inline-block;
  font-size: 1rem;
  padding: 0 2rem;
  vertical-align: top;
  color: #059ed1;
}

.contact footer .block_skew_top {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: -1;
  bottom: 0;
  background-color: #000000;
  clip-path: polygon(0% 100%, 100% 100%, 100% 0, 100% 0%);
  -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 100% 0%);
}
/*# sourceMappingURL=style.css.map */